/* Standard button */

.btn {
  background: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  margin-left: 20px;
}

.btn:hover {
  color: white;
  cursor: pointer;
}

/* Edit button */

.btn--edit:hover {
  background-color: grey;
  border: 1px solid grey;
}

/* Delete button */

.btn--delete {
  margin: 10px;
}


.btn--delete:hover {
  background-color: red;
  border: 1px solid red;
}

/* Submit button */

.btn--submit {
  margin: 10px;
}

.btn--submit:hover {
  background-color: green;
  border: 1px solid green;
}

/* Stock buttons */

.btn--all_stock, .btn--oos, .btn--low, .btn--high, .btn--discounted {
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
}

.btn--all_stock {
  border: 1px solid #18314F;
}

.btn--all_stock:hover {
  background-color: #18314F;
}

.btn--oos {
  border: 1px solid #D9543C;
}

.btn--oos:hover {
  background-color: #D9543C;
}

.btn--low {
  border: 1px solid #FFA500;
}

.btn--low:hover {
  background-color: #FFA500;
}

.btn--high {
  border: 1px solid #41996E;
}

.btn--high:hover {
  background-color: #41996E;
}

.btn--discounted {
  border: 1px solid grey;
}

.btn--discounted:hover {
  background-color: grey;
}
