.form {
  border: 1px solid lightgrey;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 2%;
  margin: 1% 25%;
  min-width: 300px;
}

h2 {
  width: 100%;
}

textarea {
  border: 1px solid lightgrey;
  border-radius: 4px;
  flex: 1 1 auto;
  margin-bottom: 10px;
  width: 100%;
}

label {
  margin: 10px 0px;
  font-weight: bold;
  flex: 1 1 auto;
  width: 20%
}

select {
  flex-shrink: 1;
  width: 76%;
}

input {
  border: 1px solid lightgrey;
  border-radius: 4px;
  flex-shrink: 1;
}

input[type="text"], input[type="number"] {
  height: 14px;
  width: 75%;
}
