body {
  margin: 0;
}

nav ul {
  background: black;
  color: white;
  font-size: 28px;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 0 5% 0;
}

#logo {
  color: darkred;
  font-weight: bold;
}

#logo_img {
  width: 50px;
}

.nav_link {
  color: white;
  text-decoration: none;
}

.nav_link:hover {
  color: darkred;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}


/* stock index */

.artist_albums {
  border-bottom: 2px solid lightgrey;
  padding: 1% 0px;
  margin: 1% 20%;
  min-width: 310px;
}

.flex {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: baseline;
}

.artist {
  padding: 5px;
  margin: 5px;
}

.artist_name, .album_title {
  flex: 1 1 auto;
}

.stock_level {
  margin-right: 2%;
}

.album {
  background: #D9543C;
  border-radius: 2px;
  padding: 10px;
  margin: 10px;
}

.Low {
  background: #FFA500;
}

.Medium {
  background: #C6BAA7;
}

.High {
  background: #41996E;
}
