body {
  margin: 0;
  font-family: 'Rasa', serif;
}

nav ul {
  background: black;
  color: white;
  font-size: 28px;
  list-style-type: none;
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0 0 3% 0;
}

#logo {
  color: darkred;
  font-weight: bold;
}

#logo_img {
  margin: 0 10px 0 0;
  width: 60px;
}

.nav_link {
  color: white;
  text-decoration: none;
}

.nav_link:hover {
  color: darkred;
}

h1, h2, h3 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  color: grey;
  font-family: "Dancing Script";
  margin: 20px 0px;
  text-align: center;
}

.form_heading {
  text-align: center;
}


/* stock index */

.artist_albums {
  border-bottom: 2px solid lightgrey;
  padding: 1% 0px;
  margin: 1% 20%;
  min-width: 310px;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.artist, .no_albums_message {
  padding: 5px 0;
  margin: 5px 0;
}

.artist_name {
  flex: 1 1 auto;
}

.stock_level {
  flex-basis: 250px;
  text-align: right;
}

.album {
  background: #D9543C;
  border-radius: 2px;
  padding: 10px;
  margin: 0 0 10px 0;
}

.Low {
  background: #FFA500;
}

.Medium {
  background: #C6BAA7;
}

.High {
  background: #41996E;
}

.stock_buttons {
  display: flex;
  justify-content: center;
  margin: 1% 15%;
}

.no_albums_message {
  color: grey;
}

/* album artwork on the index page */
.album_artwork_index {
  float: left;
  margin: 0 5px 0 0;
  width: 42px;
  height: 42px;
}

/* artist and album images on the edit pages */
.artist_image, .album_artwork {
  float: left;
  margin-top: 12px;
  margin-left: 1%;
  width: 22.5%;
}
