<h2 class="form_heading">New Album</h2>

<form class="form" id="new_album" action="/big_als/albums/new" method="POST">
  <label for="artistSelect">Artist*</label>
  <select name="artist_id" required="required" id="artistSelect">
    <option disabled selected value> -- Select an Artist -- </option>

    <% @artists.each do |artist| %>
    <option value="<%= artist.id() %>"><%= artist.name() %></option>
    <% end %>
    <option disabled value> -- Add new artist if not available -- </option>
  </select>

  <label for="albumTitle">Album*</label>
  <input type="text" required="required" name="title" id="albumTitle" placeholder="e.g. Ten">

  <label for="inStock">Quantity*</label>
  <input type="number" required="required" min=0 max=1000 name="in_stock" id="inStock" placeholder="e.g. 12">

  <label for="genre">Genre</label>
  <select name="genre_id" id="genre">
    <option disabled selected value> -- Select a Genre -- </option>
    <% @genres.each do |genre| %>
    <option value="<%= genre.id() %>"><%= genre.name() %></option>
    <% end %>
  </select>

  <label for="albumArtwork">Album Artwork</label>
  <input type="text" min=0 max=1000 name="artwork" id="albumArtwork" placeholder="e.g. /images/albums/binaural.jpg">

  <section id="pricing">
    <label for="buyPrice">Buy Price*</label>
    <input type="number" required="required" min=0.00 step=0.01 name="buy_price" id="buyPrice" placeholder="e.g. 5.99">

    <label for="originalSellPrice">Initial Sell Price*</label>
    <input type="number" required="required" min=0.00 step=0.01 name="original_sell_price" id="originalSellPrice" placeholder="e.g. 7.99">

    <label for="discount">Discount</label>
    <input type="number" min=0 max=100 name="discount" id="discount" placeholder="e.g. 10">
  </section>

  <input class="btn btn--submit" type="submit" value="Create">
</form>
