<form class="form" id="new_album" action="/big_als/albums/new" method="POST">
  <h2 class="form_heading">New Album</h2>

  <label for="artistSelect">Artist*</label>
    <select name="artist_id" required="required" id="artistSelect">
      <option disabled selected value> -- Select an Artist -- </option>

      <% @artists.each do |artist| %>
      <option value="<%= artist.id() %>"><%= artist.name() %></option>
      <% end %>
      <option disabled value> -- Add new artist if not available -- </option>
    </select>

  <label for="albumTitle">Album*</label>
  <input type="text" required="required" name="title" id="albumTitle" placeholder="e.g. Ten">

  <label for="inStock">Quantity*</label>
  <input type="number" required="required" min=0 max=1000 name="in_stock" id="inStock" placeholder="e.g. 12">

  <input class="btn btn--submit" type="submit" value="Create">
</form>
