<h2 class="form_heading">Edit Artist</h2>
<form class="form" id="edit_artist" action="/big_als/artists/<%= @artist.id() %>" method="POST">
  <label for="artistName">Artist: </label>
  <input type="text" name="name" id="artistName" value="<%= @artist.name() %>">

  <input class="btn btn--submit" type="submit" value="Amend Details">

</form>

<form class="form" id="delete_artist" action="/big_als/artists/<%= @artist.id() %>/delete" method="POST">
  <input class="btn btn--delete" type="submit" value="Delete Artist">
</form>
