<form id="edit_artist" action="/big_als/artists/<%= @artist.id() %>" method="POST">
  <label for="artistName">Artist: </label>
  <input type="text" name="name" id="artistName" value="<%= @artist.name() %>">

  <input type="submit" value="Amend Details">
  
  <form action="/big_als/artists/<%= @artist.id() %>/delete" method="POST">
    <input type="submit" value="Delete Artist" class="btn btn--delete">
  </form>

</form>
