<form class="form" id="new_artist" action="/big_als/artists/new" method="POST">
  <label for="artistName">Artist: </label>
  <input type="text" name="name" id="artistName">

  <input class="btn btn--submit" type="submit" value="Create">
</form>
