<form class="new_artist" action="/big_als/artists/new" method="POST">
  <label for="artistName">Artist: </label>
  <input type="text" name="name" id="artistName">

  <input type="submit" value="Submit">
</form>
